<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd" >
<suite name="Suite">
  <test name="ChromeTest">
  <parameter name= "browser" value="chrome"/>
    <classes>
      <class name="TestcasesByEpics.Test_01">
      <methods>
      <include name = "testValidLogin" />
      </methods>
      </class>
    </classes>
  </test>
</suite>
